name: Valkey Database Deployment onto Self Hosted K3d Cluster

on:
  workflow_dispatch:
  push:
    branches:
      - feature/**
      - bug/**
    paths:
      - certificates/**
      - namespace/**
      - cluster/**
      - .github/workflows/tofu-deploy.yml
  pull_request:
    paths:
      - certificates/**
      - namespace/**
      - cluster/**
      - .github/workflows/tofu-deploy.yml
    branches:
      - main
    types:
      - opened
      - synchronize
      - closed

jobs:
  namespace_deploy:
    name: Valkey Namespace Deployment onto Self Hosted K3d Cluster
    uses: PhotoAtom/automations/.github/workflows/tofu-deploy.yml@main
    with:
      deployment_name: Valkey Namespace
      folder_path: namespace
      runners: photoatom
    secrets: inherit
      

  certificates_deploy:
    needs: [namespace_deploy]
    name: Valkey Certificates Deployment onto Self Hosted K3d Cluster
    uses: PhotoAtom/automations/.github/workflows/tofu-deploy.yml@main
    with:
      deployment_name: Valkey Certificates
      folder_path: certificates
      runners: photoatom
    secrets: inherit
      

  cluster_deploy:
    needs: [certificates_deploy]
    name: Valkey Database Deployment onto Self Hosted K3d Cluster
    uses: PhotoAtom/automations/.github/workflows/tofu-deploy.yml@main
    with:
      deployment_name: Valkey Database
      folder_path: cluster
      runners: photoatom
    secrets: inherit
      

